In [1]:
import pandas as pd
pd.set_option("display.max_columns", 200)
pd.set_option("display.max_row", 160)
pd.set_option('max_colwidth', 200)

In [2]:
a = pd.read_csv('accepted.csv')
a.head(3)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68407277,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.0,0.0,4421.723917,4421.72,3600.0,821.72,0.0,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68355089,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.0,0.0,25679.660000,25679.66,24700.0,979.66,0.0,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68341763,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.0,0.0,22705.924294,22705.92,20000.0,2705.92,0.0,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
a.shape

(2260701, 151)

In [4]:
#Data Dictionary to review features: 
pd.read_excel('LCDataDictionary.xlsx')

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.
5,annual_inc_joint,The combined self-reported annual income provided by the co-borrowers during registration
6,application_type,Indicates whether the loan is an individual application or a joint application with two co-borrowers
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/credit limit for all bankcard accounts.
10,chargeoff_within_12_mths,Number of charge-offs within 12 months
11,collection_recovery_fee,post charge off collection fee
12,collections_12_mths_ex_med,Number of collections in 12 months excluding medical collections
13,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
14,delinq_amnt,The past-due amount owed for the accounts on which the borrower is now delinquent.
15,desc,Loan description provided by the borrower
16,dti,"A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly inc..."
17,dti_joint,"A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported ..."
18,earliest_cr_line,The month the borrower's earliest reported credit line was opened
19,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
20,emp_title,The job title supplied by the Borrower when applying for the loan.*
21,fico_range_high,The upper boundary range the borrower’s FICO at loan origination belongs to.
22,fico_range_low,The lower boundary range the borrower’s FICO at loan origination belongs to.
23,funded_amnt,The total amount committed to that loan at that point in time.
24,funded_amnt_inv,The total amount committed by investors for that loan at that point in time.
25,grade,LC assigned loan grade
26,home_ownership,"The home ownership status provided by the borrower during registration or obtained from the credit report. Our values are: RENT, OWN, MORTGAGE, OTHER"
27,id,A unique LC assigned ID for the loan listing.
28,il_util,Ratio of total current balance to high credit/credit limit on all install acct
29,initial_list_status,"The initial listing status of the loan. Possible values are – W, F"
30,inq_fi,Number of personal finance inquiries
31,inq_last_12m,Number of credit inquiries in past 12 months
32,inq_last_6mths,The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
33,installment,The monthly payment owed by the borrower if the loan originates.
34,int_rate,Interest Rate on the loan
35,issue_d,The month which the loan was funded
36,last_credit_pull_d,The most recent month LC pulled credit for this loan
37,last_fico_range_high,The upper boundary range the borrower’s last FICO pulled belongs to.
38,last_fico_range_low,The lower boundary range the borrower’s last FICO pulled belongs to.
39,last_pymnt_amnt,Last total payment amount received
40,last_pymnt_d,Last month payment was received
41,loan_amnt,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
42,loan_status,Current status of the loan
43,max_bal_bc,Maximum current balance owed on all revolving accounts
44,member_id,A unique LC assigned Id for the borrower member.
45,mo_sin_old_il_acct,Months since oldest bank installment account opened
46,mo_sin_old_rev_tl_op,Months since oldest revolving account opened
47,mo_sin_rcnt_rev_tl_op,Months since most recent revolving account opened
48,mo_sin_rcnt_tl,Months since most recent account opened
49,mort_acc,Number of mortgage accounts.
50,mths_since_last_delinq,The number of months since the borrower's last delinquency.
51,mths_since_last_major_derog,Months since most recent 90-day or worse rating
52,mths_since_last_record,The number of months since the last public record.
53,mths_since_rcnt_il,Months since most recent installment accounts opened
54,mths_since_recent_bc,Months since most recent bankcard account opened.
55,mths_since_recent_bc_dlq,Months since most recent bankcard delinquency
56,mths_since_recent_inq,Months since most recent inquiry.
57,mths_since_recent_revol_delinq,Months since most recent revolving delinquency.
58,next_pymnt_d,Next scheduled payment date
59,num_accts_ever_120_pd,Number of accounts ever 120 or more days past due
60,num_actv_bc_tl,Number of currently active bankcard accounts
61,num_actv_rev_tl,Number of currently active revolving trades
62,num_bc_sats,Number of satisfactory bankcard accounts
63,num_bc_tl,Number of bankcard accounts
64,num_il_tl,Number of installment accounts
65,num_op_rev_tl,Number of open revolving accounts
66,num_rev_accts,Number of revolving accounts
67,num_rev_tl_bal_gt_0,Number of revolving trades with balance >0
68,num_sats,Number of satisfactory accounts
69,num_tl_120dpd_2m,Number of accounts currently 120 days past due (updated in past 2 months)
70,num_tl_30dpd,Number of accounts currently 30 days past due (updated in past 2 months)
71,num_tl_90g_dpd_24m,Number of accounts 90 or more days past due in last 24 months
72,num_tl_op_past_12m,Number of accounts opened in past 12 months
73,open_acc,The number of open credit lines in the borrower's credit file.
74,open_acc_6m,Number of open trades in last 6 months
75,open_il_12m,Number of installment accounts opened in past 12 months
76,open_il_24m,Number of installment accounts opened in past 24 months
77,open_act_il,Number of currently active installment trades
78,open_rv_12m,Number of revolving trades opened in past 12 months
79,open_rv_24m,Number of revolving trades opened in past 24 months
80,out_prncp,Remaining outstanding principal for total amount funded
81,out_prncp_inv,Remaining outstanding principal for portion of total amount funded by investors
82,pct_tl_nvr_dlq,Percent of trades never delinquent
83,percent_bc_gt_75,Percentage of all bankcard accounts > 75% of limit.
84,policy_code,publicly available policy_code=1\nnew products not publicly available policy_code=2
85,pub_rec,Number of derogatory public records
86,pub_rec_bankruptcies,Number of public record bankruptcies
87,purpose,A category provided by the borrower for the loan request.
88,pymnt_plan,Indicates if a payment plan has been put in place for the loan
89,recoveries,post charge off gross recovery
90,revol_bal,Total credit revolving balance
91,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
92,sub_grade,LC assigned loan subgrade
93,tax_liens,Number of tax liens
94,term,The number of payments on the loan. Values are in months and can be either 36 or 60.
95,title,The loan title provided by the borrower
96,tot_coll_amt,Total collection amounts ever owed
97,tot_cur_bal,Total current balance of all accounts
98,tot_hi_cred_lim,Total high credit/credit limit
99,total_acc,The total number of credit lines currently in the borrower's credit file
100,total_bal_ex_mort,Total credit balance excluding mortgage
101,total_bal_il,Total current balance of all installment accounts
102,total_bc_limit,Total bankcard high credit/credit limit
103,total_cu_tl,Number of finance trades
104,total_il_high_credit_limit,Total installment high credit/credit limit
105,total_pymnt,Payments received to date for total amount funded
106,total_pymnt_inv,Payments received to date for portion of total amount funded by investors
107,total_rec_int,Interest received to date
108,total_rec_late_fee,Late fees received to date
109,total_rec_prncp,Principal received to date
110,total_rev_hi_lim,Total revolving high credit/credit limit
111,url,URL for the LC page with listing data.
112,verification_status,"Indicates if income was verified by LC, not verified, or if the income source was verified"
113,verified_status_joint,"Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified"
114,zip_code,The first 3 numbers of the zip code provided by the borrower in the loan application.
115,revol_bal_joint,"Sum of revolving credit balance of the co-borrowers, net of duplicate balances"
116,sec_app_fico_range_low,FICO range (high) for the secondary applicant
117,sec_app_fico_range_high,FICO range (low) for the secondary applicant
118,sec_app_earliest_cr_line,Earliest credit line at time of application for the secondary applicant
119,sec_app_inq_last_6mths,Credit inquiries in the last 6 months at time of application for the secondary applicant
120,sec_app_mort_acc,Number of mortgage accounts at time of application for the secondary applicant
121,sec_app_open_acc,Number of open trades at time of application for the secondary applicant
122,sec_app_revol_util,Ratio of total current balance to high credit/credit limit for all revolving accounts
123,sec_app_open_act_il,Number of currently active installment trades at time of application for the secondary applicant
124,sec_app_num_rev_accts,Number of revolving accounts at time of application for the secondary applicant
125,sec_app_chargeoff_within_12_mths,Number of charge-offs within last 12 months at time of application for the secondary applicant
126,sec_app_collections_12_mths_ex_med,Number of collections within last 12 months excluding medical collections at time of application for the secondary applicant
127,sec_app_mths_since_last_major_derog,Months since most recent 90-day or worse rating at time of application for the secondary applicant
128,hardship_flag,Flags whether or not the borrower is on a hardship plan
129,hardship_type,Describes the hardship plan offering
130,hardship_reason,Describes the reason the hardship plan was offered
131,hardship_status,"Describes if the hardship plan is active, pending, canceled, completed, or broken"
132,deferral_term,Amount of months that the borrower is expected to pay less than the contractual monthly payment amount due to a hardship plan
133,hardship_amount,The interest payment that the borrower has committed to make each month while they are on a hardship plan
134,hardship_start_date,The start date of the hardship plan period
135,hardship_end_date,The end date of the hardship plan period
136,payment_plan_start_date,"The day the first hardship plan payment is due. For example, if a borrower has a hardship plan period of 3 months, the start date is the start of the three-month period in which the borrower is al..."
137,hardship_length,The number of months the borrower will make smaller payments than normally obligated due to a hardship plan
138,hardship_dpd,Account days past due as of the hardship plan start date
139,hardship_loan_status,Loan Status as of the hardship plan start date
140,orig_projected_additional_accrued_interest,The original projected additional interest amount that will accrue for the given hardship payment plan as of the Hardship Start Date. This field will be null if the borrower has broken their hards...
141,hardship_payoff_balance_amount,The payoff balance amount as of the hardship plan start date
142,hardship_last_payment_amount,The last payment amount as of the hardship plan start date
143,disbursement_method,"The method by which the borrower receives their loan. Possible values are: CASH, DIRECT_PAY"
144,debt_settlement_flag,"Flags whether or not the borrower, who has charged-off, is working with a debt-settlement company."
145,debt_settlement_flag_date,The most recent date that the Debt_Settlement_Flag has been set
146,settlement_status,"The status of the borrower’s settlement plan. Possible values are: COMPLETE, ACTIVE, BROKEN, CANCELLED, DENIED, DRAFT"
147,settlement_date,The date that the borrower agrees to the settlement plan
148,settlement_amount,The loan amount that the borrower has agreed to settle for
149,settlement_percentage,The settlement amount as a percentage of the payoff balance amount on the loan
150,settlement_term,The number of months that the borrower will be on the settlement plan
151,NaN,NaN
152,NaN,* Employer Title replaces Employer Name for all loans listed after 9/23/2013

In [5]:
#1. Remove all obserations with No Funded Amount First, How many:
print(len(a[a.funded_amnt.isnull()]))

33

In [6]:
drop = a[a.funded_amnt.isnull()].index
a.drop(drop, axis=0, inplace=True)
a.shape

(2260668, 151)

In [7]:
#No more NaN funded amounts: 
a[a.funded_amnt.isna()].shape

(0, 151)

In [8]:
#2. How many value types for "loan_status"?
print(a.loan_status.value_counts(dropna=False).sum()) #Total matches

a.loan_status.value_counts(dropna=False)

2260668

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [9]:
#Create new column and map Charged Off = 0, Fully Paid = 1
a['loan_status_bin'] = a['loan_status'].map({'Charged Off':0, 'Fully Paid':1})

In [10]:
#Quick Check:
a[['loan_status', 'loan_status_bin']].sample(10)

         loan_status  loan_status_bin
1133137   Fully Paid              1.0
1037133   Fully Paid              1.0
1540416      Current              NaN
2030318      Current              NaN
1903812   Fully Paid              1.0
1604361      Current              NaN
1146630  Charged Off              0.0
2205465   Fully Paid              1.0
1616389   Fully Paid              1.0
1651435   Fully Paid              1.0

In [15]:
a['verification_status'].value_counts()

Source Verified    886231
Not Verified       744806
Verified           629631
Name: verification_status, dtype: int64

In [17]:
#Drop all observations where income is not verified: 
a = a[a['verification_status']!='Not Verified'].reset_index(drop=True)
a

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_bin
0,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.action?loan_id=66310712,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.00,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68476807,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.00,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,68426831,NaN,11950.0,11950.0,11950.0,36 months,13.44,405.18,C,C3,Veterinary Tecnician,4 years,RENT,34000.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68426831,NaN,debt_consolidation,Debt consolidation,300xx,GA,10.20,0.0,Oct-1987,690.0,694.0,0.0,NaN,NaN,5.0,0.0,8822.0,68.4,6.0,w,0.00,0.00,13708.948530,13708.95,11950.00,1758.95,0.00,0.0,0.0,May-2017,7653.56,NaN,May-2017,759.0,755.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,12798.0,0.0,1.0,0.0,0.0,338.0,3976.0,99.0,0.0,0.0,4522.0,76.0,12900.0,0.0,0.0,0.0,0.0,2560.0,844.0,91.0,0.0,0.0,338.0,54.0,32.0,32.0,0.0,36.0,NaN,NaN,NaN,0.0,2.0,3.0,2.0,2.0,2.0,4.0,4.0,3.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,16900.0,12798.0,9400.0,4000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,68495092,NaN,8650.0,8650.0,8650.0,36 months,19.89,320.99,E,E3,Program Coordinator,8 years,RENT,55000.0,Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68495092,NaN,debt_consolidation,Debt consolidation,462xx,IN,25.49,0.0,Mar-2005,675.0,679.0,4.0,NaN,30.0,18.0,1.0,9568.0,46.0,19.0,w,0.00,0.00,9190.490000,9190.49,8650.00,540.49,0.00,0.0,0.0,May-2016,8251.42,NaN,Jun-2016,639.0,635.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,18926.0,6.0,1.0,0.0,1.0,19.0,9358.0,51.0,12.0,16.0,653.0,46.0,20750.0,2.0,0.0,5.0,17.0,1051.0,1375.0,45.0,0.0,0.0,129.0,95.0,0.0,0.0,0.0,8.0,NaN,0.0,NaN,0.0,2.0,17.0,2.0,2.0,2.0,17.0,17.0,13.0,18.0,NaN,0.0,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,68566886,NaN,29900.0,29900.0,29900.0,60 months,12.88,678.49,C,C2,Corporate Insurance,10+ years,MORTGAGE,65000.0,Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68566886,NaN,debt_consolidation,Debt consolidation,219xx,MD,21.77,0.0,May-2004,715.0,719.0,0.0,NaN,NaN,15.0,0.0,31682.0,46.7,31.0,w,0.00,0.00,34033.214176,34033.21,29900.00,4133.21,0.00,0.0,0.0,Mar-2017,25234.24,NaN,Jan-2018,719.0,715.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,220251.0,2.0,1.0,1.0,2.0,9.0,10815.0,69.0,3.0,5.0,12971.0,51.0,67800.0,0.0,4.0,1.0,7.0,15732.0,18383.0,45.9,0.0,0.0,114.0,139.0,5.0,5.0,2.0,5.0,NaN,9.0,NaN,0.0,2.0,5.0,4.0,9.0,8.0,13.0,21.0,5.0,15.0,0.0,0.0,0.0,4.0,100.0,25.0,0.0,0.0,271700.0,42497.0,34000.0,15574.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515857,88979824,NaN,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,Financial Advisor,5 years,MORTGAGE,150000.0,Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.action?loan_id=88979824,NaN,debt_consolidation,Debt consolidation,325xx,FL,15.47,0.0,May-1998,725.0,729.0,0.0,NaN,NaN,7.0,0.0,51827.0,63.8,15.0,f,23252.59,23252.59,24903.930000,24903.93,16747.41,8156.52,0.00,0.0,0.0,Mar-2019,859.56,Apr-2019,Mar-2019,839.0,835.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,273704.0,0.0,1.0,0.0,1.0,14.0,48721.0,NaN,0.0,0.0,15471.0,64.0,81200.0,1.0,4.0,0.0,1.0,39101.0,29373.0,63.8,0.0,0.0,124.0,220.0,101.0,14.0,2.0,124.0,NaN,20.0,NaN,0.0,4.0,4.0,5.0,7.0,6.0,5.0,7.0,4.0,7.0,0.0,0.0,0.0,0.0,100.0,60.0,0.0,0.0,324428.0,100548.0,81200.0,55935.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1515858,89996426,NaN,32000.0,32000.0,32000.0,60 months,14.49,752.74,C,C4,Sales Manager,3 years,MORTGAGE,157000.0,Source Verified,Oct-2016,Charged Off,n,https://lendingclub.com/browse/loanDetail.action?loan_id=89996426,NaN,home_improvement,Home improvement,863xx,AZ,10.34,0.0,Jun-2011,735.0,739.0,0.0,NaN,NaN,14.0,0.0,111598.0,27.4,18.0,f,0.00,0.00,3737.940000,3737.94,1876.47,1861.47,0.00,0.0,0.0,Mar-2017,752.74,NaN,Dec-2018,499.0,0.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,408701.0,2.0,2.0,0.0,2.0,16.0,11274.0,47.0,2.0,7.0,736.0,36.0,207500.0,2.0,2.0,0.0,10.0,29193.0,14118.0,10.6,0.0,0.0,53.0,63.0,4.0,4.0,3.0,4.0,NaN,15.0,NaN,0.0,5.0,8.0,7.0,7.0,4.0,11.0,11.0,8.0,14.0,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,524379.0,122872.0,15800.0,23879.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1515859,89885898,NaN,24000.0,24000.0,24000.0,60 months,12.79,543.50,C,C1,Unit Operator,7 years,MORTGAGE,95000.0,Source Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.action?loan_id=89885898,NaN,home_improvement,Home improvement,356xx,AL,19.61,0.0,Dec-1999,665.0,669.0,0.0,NaN,NaN,5.0,0.0,49431.0,84.4,54.0,f,14287.39,14287.39,15760.500000,15760.50,9712.61,6047.89,0.00,0.0,0.0,Mar-2019,543.50,Apr-2019,Mar-2019,709.0,705.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,104422.0,2.0,2.0,1.0,3.0,3.0,54991.0,106.0,2.0,2.0,0.0,103.0,50500.0,1.0,19.0,1.0,5.0,26106.0,NaN,NaN,0.0,0.0,201.0,88.0,3.0,3.0,0.0,NaN,NaN,4.0,NaN,0.0,0.0,2.0,0.0,3.0,43.0,3.0,11.0,2.0,5.0,0.0,0.0,0.0,3.0,100.0,NaN,0.0,0.0,102517.0,104422.0,0.0,52017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1515860,88985880,NaN,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,Vice President,9 years,MORTGAGE,227000.0,Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.action?loan_id=88985880,NaN,debt_consolidation,NaN,907xx,CA,12.75,7.0,Feb-1995,705.0,709.0,1.0,9.0,NaN,5.0,0.0,8633.0,64.9,37.0,f,23252.59,23252.59,24903.930000,24903.93,16747.41,8156.52,0.00,0.0,0.0,Mar-2019,859.56,Apr-2019,Mar-2019,724.0,720.0,0.0,10.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,28398.0,0.0,2.0,0.0,1.0,15.0,19765.0,46.0,0.0,0.0,5141.0,51.0,13300.0,3.0,0.0,2.0,2.0,5680.0,4070.0,66.9,0.0,0.0,154.0,258.0,33.0,15.0,3.0,41.0,9.0,1.0,9.0,6.0,2.0,3.0,2.0,15.0,9.0,3.0,23.0,3.0,5.0,0.0,0.0,7.0,0.0,75.7,50.0,0.0,0.0,55970.0,28398.0,12300.0,42670.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1515861,88215728,NaN,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,C4,Customer Service Technician,10+ years,MORTGAGE,95000.0,Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.action?loan_id=88215728,NaN,debt_consolidation,NaN,770xx,TX,23.36,0.0,Jun-1996,660.0,664.0,1.0,37.0,NaN,8.0,0.0,7662.0,54.0,22.0,w,8456.12,8456.12,9621.250000,9621.25,5543.88,4027.96,49.41,0.0,0.0,Mar-2019,329.33,Apr-2019,Mar-2019,669.0,665.0,0.0,37.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,143066.0,0.0,1.0,1.0,2.0,7.0,32071.0,94.0,0.0,1.0,4093.0,84.0,14200.0,3.0,1.0,2.0,3.0,17883.0,1838.0,80.7,0.0,0.0,149.0,243.0,22.0,7.0,1.0,75.0,39.0,6.0,37.0,4.0,3.0,3.0,4.0,12.0,3.0,5.0,17.0,3.0,8.0,0.0,0.0,0.0,1.0,81.8,50.0,0.0,0.0,163804.0,44215.0,9500.0,34169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#5. Categorize features as known, unknown, not_important, not_sure at time of loan:

In [21]:
#not_important = ['id', 'member_id']

In [22]:
#not_sure = ['loan_amnt', 'funded_amnt_inv']  #Can experiment later after we have baseline model

In [23]:
#known = ['funded_amnt', 'term', 'int_rate', 'installment', 'grade', 
#         'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
#         'purpose', 'title', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high',
#         'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec',
#         'total_acc', 'initial_list_status']

In [24]:
#len(known)

In [18]:
#Start with top 11 + Label to create baseline:

top_11 = ['loan_amnt', 'term', 'int_rate', 'installment', 'grade',
          'emp_length', 'annual_inc', 'dti', 'fico_range_low', 
          'loan_status_bin', 'home_ownership', 'pub_rec']

In [20]:
len(top_11)

12

In [27]:
#6. Inspect Dataframe with Top Features (11 to start):

In [21]:
df = a[top_11]
df

,loan_amnt,term,int_rate,installment,grade,emp_length,annual_inc,dti,fico_range_low,loan_status_bin,home_ownership,pub_rec
0,35000.0,60 months,14.85,829.90,C,10+ years,110000.0,17.06,785.0,NaN,MORTGAGE,0.0
1,10400.0,60 months,22.45,289.91,F,3 years,104433.0,25.37,695.0,1.0,MORTGAGE,0.0
2,11950.0,36 months,13.44,405.18,C,4 years,34000.0,10.20,690.0,1.0,RENT,0.0
3,8650.0,36 months,19.89,320.99,E,8 years,55000.0,25.49,675.0,1.0,RENT,1.0
4,29900.0,60 months,12.88,678.49,C,10+ years,65000.0,21.77,715.0,1.0,MORTGAGE,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1515857,40000.0,60 months,10.49,859.56,B,5 years,150000.0,15.47,725.0,NaN,MORTGAGE,0.0
1515858,32000.0,60 months,14.49,752.74,C,3 years,157000.0,10.34,735.0,0.0,MORTGAGE,0.0
1515859,24000.0,60 months,12.79,543.50,C,7 years,95000.0,19.61,665.0,NaN,MORTGAGE,0.0
1515860,40000.0,60 months,10.49,859.56,B,9 years,227000.0,12.75,705.0,NaN,MORTGAGE,0.0
1515861,14000.0,60 months,14.49,329.33,C,10+ years,95000.0,23.36,660.0,NaN,MORTGAGE,0.0

In [22]:
df.isna().sum()

loan_amnt               0
term                    0
int_rate                0
installment             0
grade                   0
emp_length         102593
annual_inc              0
dti                   232
fico_range_low          0
loan_status_bin    576253
home_ownership          0
pub_rec                 0
dtype: int64

In [23]:
df = df[~df.loan_status_bin.isna()]
df

,loan_amnt,term,int_rate,installment,grade,emp_length,annual_inc,dti,fico_range_low,loan_status_bin,home_ownership,pub_rec
1,10400.0,60 months,22.45,289.91,F,3 years,104433.0,25.37,695.0,1.0,MORTGAGE,0.0
2,11950.0,36 months,13.44,405.18,C,4 years,34000.0,10.20,690.0,1.0,RENT,0.0
3,8650.0,36 months,19.89,320.99,E,8 years,55000.0,25.49,675.0,1.0,RENT,1.0
4,29900.0,60 months,12.88,678.49,C,10+ years,65000.0,21.77,715.0,1.0,MORTGAGE,0.0
5,28000.0,36 months,13.44,949.38,C,2 years,125000.0,7.49,695.0,1.0,OWN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1515848,20000.0,60 months,15.59,482.02,C,9 years,177000.0,12.36,665.0,1.0,MORTGAGE,5.0
1515850,11200.0,60 months,13.49,257.66,C,5 years,86000.0,4.80,665.0,0.0,RENT,2.0
1515852,40000.0,60 months,15.59,964.03,C,< 1 year,220000.0,10.88,715.0,1.0,MORTGAGE,0.0
1515856,36400.0,60 months,14.49,856.24,C,5 years,95000.0,21.50,720.0,0.0,RENT,0.0
1515858,32000.0,60 months,14.49,752.74,C,3 years,157000.0,10.34,735.0,0.0,MORTGAGE,0.0

In [24]:
df.isna().sum()

loan_amnt              0
term                   0
int_rate               0
installment            0
grade                  0
emp_length         62723
annual_inc             0
dti                   26
fico_range_low         0
loan_status_bin        0
home_ownership         0
pub_rec                0
dtype: int64

In [25]:
df = df[df.int_rate >= 20]
df.head(3)

,loan_amnt,term,int_rate,installment,grade,emp_length,annual_inc,dti,fico_range_low,loan_status_bin,home_ownership,pub_rec
1,10400.0,60 months,22.45,289.91,F,3 years,104433.0,25.37,695.0,1.0,MORTGAGE,0.0
40,35000.0,60 months,20.50,937.06,E,8 years,120000.0,35.69,700.0,1.0,MORTGAGE,0.0
49,25825.0,60 months,26.06,774.14,F,6 years,68000.0,31.68,675.0,0.0,RENT,0.0

In [26]:
df.shape

(96222, 12)

In [27]:
df.isna().sum()

loan_amnt             0
term                  0
int_rate              0
installment           0
grade                 0
emp_length         5600
annual_inc            0
dti                   5
fico_range_low        0
loan_status_bin       0
home_ownership        0
pub_rec               0
dtype: int64

In [28]:
#Return unique values of categorical columns:
{column: list(df[column].unique()) for column in df.columns if df.dtypes[column]=='object'}

{'term': [' 60 months', ' 36 months'],
 'grade': ['F', 'E', 'G', 'D'],
 'emp_length': ['3 years',
  '8 years',
  '6 years',
  '10+ years',
  '1 year',
  '< 1 year',
  '9 years',
  '4 years',
  '5 years',
  nan,
  '2 years',
  '7 years'],
 'home_ownership': ['MORTGAGE', 'RENT', 'OWN', 'ANY', 'NONE', 'OTHER']}

In [29]:
#Encoding Functions

def binary_temp(df, column, positive_value):
    temp_df = df.assign(new_be=df[column].apply(lambda x: 1 if x == positive_value else 0))
    return temp_df

def binary_encode(temp_df, column):
    new_df = temp_df.drop(column, axis=1)
    new_df = new_df.rename(columns={'new_be':column})
    return new_df
    
    #df[column + '_be'] = df[column].apply(lambda x: 1 if x == positive_value else 0)
    #df_new = pd.concat([df, df[column].apply(lambda x: 1 if x == positive_value else 0)], axis=1)
    #df_new = df_new.drop(column, axis=1)
    #return df_new

def ordinal_temp(df, column, ordering):
    temp_df = df.assign(new_oe=df[column].apply(lambda x: ordering.index(x)))
    return temp_df

def ordinal_encode(temp_df, column):
    new_df = temp_df.drop(column, axis=1)
    new_df = new_df.rename(columns={'new_oe':column})
    return new_df

def onehot_encode(df, column):
    dummies = pd.get_dummies(df[column])
    df_new = pd.concat([df, dummies], axis=1)
    df_new = df_new.drop(column, axis=1)
    return df_new

In [30]:
#Check Binary Encoding:

temp = binary_temp(df, 'term', ' 60 months')

#for feature, positive_value in zip(binary_features, binary_positives):
#    df2 = binary_encode(df, feature, positive_value)

In [31]:
temp[['term', 'new_be']].sample(10)

               term  new_be
686586    36 months       0
1225909   36 months       0
1241810   60 months       1
143576    60 months       1
1511509   60 months       1
1453547   60 months       1
1358812   60 months       1
10308     36 months       0
845907    60 months       1
1408440   36 months       0

In [32]:
#If ok, complete binary encoding:
new_df = binary_encode(temp, 'term')
new_df.head(5)

,loan_amnt,int_rate,installment,grade,emp_length,annual_inc,dti,fico_range_low,loan_status_bin,home_ownership,pub_rec,term
1,10400.0,22.45,289.91,F,3 years,104433.0,25.37,695.0,1.0,MORTGAGE,0.0,1
40,35000.0,20.50,937.06,E,8 years,120000.0,35.69,700.0,1.0,MORTGAGE,0.0,1
49,25825.0,26.06,774.14,F,6 years,68000.0,31.68,675.0,0.0,RENT,0.0,1
50,24575.0,22.45,685.04,F,10+ years,92000.0,24.16,725.0,1.0,MORTGAGE,0.0,1
122,16925.0,21.48,462.46,E,10+ years,47000.0,22.09,680.0,0.0,RENT,1.0,1

In [33]:
grade_ordering = sorted(df['grade'].unique())
grade_ordering

['D', 'E', 'F', 'G']

In [34]:
temp_df = ordinal_temp(new_df, 'grade', grade_ordering)
temp_df[['grade', 'new_oe']]

        grade  new_oe
1           F       2
40          E       1
49          F       2
50          F       2
122         E       1
...       ...     ...
1515742     D       0
1515756     F       2
1515757     D       0
1515763     D       0
1515834     D       0

[96222 rows x 2 columns]

In [35]:
#If ok, complete ordinal encoding:
new_df = ordinal_encode(temp_df, 'grade')
new_df.head(5)

,loan_amnt,int_rate,installment,emp_length,annual_inc,dti,fico_range_low,loan_status_bin,home_ownership,pub_rec,term,grade
1,10400.0,22.45,289.91,3 years,104433.0,25.37,695.0,1.0,MORTGAGE,0.0,1,2
40,35000.0,20.50,937.06,8 years,120000.0,35.69,700.0,1.0,MORTGAGE,0.0,1,1
49,25825.0,26.06,774.14,6 years,68000.0,31.68,675.0,0.0,RENT,0.0,1,2
50,24575.0,22.45,685.04,10+ years,92000.0,24.16,725.0,1.0,MORTGAGE,0.0,1,2
122,16925.0,21.48,462.46,10+ years,47000.0,22.09,680.0,0.0,RENT,1.0,1,1

In [36]:
new_df['emp_length'].replace(np.nan, "None", inplace=True)

In [37]:
new_df['emp_length'].value_counts()

10+ years    32183
2 years       8557
3 years       7482
< 1 year      7449
1 year        6244
5 years       6152
4 years       5681
None          5600
6 years       4631
7 years       4316
8 years       4262
9 years       3665
Name: emp_length, dtype: int64

In [38]:
emp_ordering = [
    'None',
    '< 1 year',
    '1 year',
    '2 years',
    '3 years',
    '4 years',
    '5 years',
    '6 years',
    '7 years',
    '8 years',
    '9 years',
    '10+ years',
    ]

In [39]:
temp_df = ordinal_temp(new_df, 'emp_length', emp_ordering)
temp_df[['emp_length', 'new_oe']]

        emp_length  new_oe
1          3 years       4
40         8 years       9
49         6 years       7
50       10+ years      11
122      10+ years      11
...            ...     ...
1515742   < 1 year       1
1515756  10+ years      11
1515757    6 years       7
1515763  10+ years      11
1515834    2 years       3

[96222 rows x 2 columns]

In [40]:
new_df = ordinal_encode(temp_df, 'emp_length')
new_df.head(3)

,loan_amnt,int_rate,installment,annual_inc,dti,fico_range_low,loan_status_bin,home_ownership,pub_rec,term,grade,emp_length
1,10400.0,22.45,289.91,104433.0,25.37,695.0,1.0,MORTGAGE,0.0,1,2,4
40,35000.0,20.50,937.06,120000.0,35.69,700.0,1.0,MORTGAGE,0.0,1,1,9
49,25825.0,26.06,774.14,68000.0,31.68,675.0,0.0,RENT,0.0,1,2,7

In [41]:
#Dummify nominal features:
numerical_df = onehot_encode(new_df, 'home_ownership')
numerical_df

,loan_amnt,int_rate,installment,annual_inc,dti,fico_range_low,loan_status_bin,pub_rec,term,grade,emp_length,ANY,MORTGAGE,NONE,OTHER,OWN,RENT
1,10400.0,22.45,289.91,104433.0,25.37,695.0,1.0,0.0,1,2,4,0,1,0,0,0,0
40,35000.0,20.50,937.06,120000.0,35.69,700.0,1.0,0.0,1,1,9,0,1,0,0,0,0
49,25825.0,26.06,774.14,68000.0,31.68,675.0,0.0,0.0,1,2,7,0,0,0,0,0,1
50,24575.0,22.45,685.04,92000.0,24.16,725.0,1.0,0.0,1,2,11,0,1,0,0,0,0
122,16925.0,21.48,462.46,47000.0,22.09,680.0,0.0,1.0,1,1,11,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515742,35000.0,21.49,956.55,72000.0,16.63,675.0,0.0,0.0,1,0,1,0,0,0,0,0,1
1515756,15650.0,26.49,473.12,58000.0,27.81,685.0,1.0,1.0,1,2,11,0,1,0,0,0,0
1515757,27450.0,21.49,1041.10,80000.0,15.17,705.0,1.0,0.0,0,0,7,0,1,0,0,0,0
1515763,20000.0,21.49,546.60,75000.0,25.23,670.0,1.0,0.0,1,0,11,0,1,0,0,0,0
1515834,5000.0,21.49,189.64,43000.0,1.40,670.0,1.0,0.0,0,0,3,0,0,0,0,0,1

In [42]:
#All features are now in numerical form
numerical_df.dtypes

loan_amnt          float64
int_rate           float64
installment        float64
annual_inc         float64
dti                float64
fico_range_low     float64
loan_status_bin    float64
pub_rec            float64
term                 int64
grade                int64
emp_length           int64
ANY                  uint8
MORTGAGE             uint8
NONE                 uint8
OTHER                uint8
OWN                  uint8
RENT                 uint8
dtype: object

In [43]:
#Check if any missing values left, especially in numerical columns which were not transformed:
numerical_df.isna().sum()  #70 values in dti. Let's drop them.

loan_amnt          0
int_rate           0
installment        0
annual_inc         0
dti                5
fico_range_low     0
loan_status_bin    0
pub_rec            0
term               0
grade              0
emp_length         0
ANY                0
MORTGAGE           0
NONE               0
OTHER              0
OWN                0
RENT               0
dtype: int64

In [44]:
len(numerical_df[numerical_df.dti.isna()])

5

In [45]:
len(numerical_df[numerical_df.annual_inc==0])

5

In [46]:
#Drop these 5 observations for now, may revisit later....

numerical_df = numerical_df.dropna().reset_index(drop=True)
numerical_df

,loan_amnt,int_rate,installment,annual_inc,dti,fico_range_low,loan_status_bin,pub_rec,term,grade,emp_length,ANY,MORTGAGE,NONE,OTHER,OWN,RENT
0,10400.0,22.45,289.91,104433.0,25.37,695.0,1.0,0.0,1,2,4,0,1,0,0,0,0
1,35000.0,20.50,937.06,120000.0,35.69,700.0,1.0,0.0,1,1,9,0,1,0,0,0,0
2,25825.0,26.06,774.14,68000.0,31.68,675.0,0.0,0.0,1,2,7,0,0,0,0,0,1
3,24575.0,22.45,685.04,92000.0,24.16,725.0,1.0,0.0,1,2,11,0,1,0,0,0,0
4,16925.0,21.48,462.46,47000.0,22.09,680.0,0.0,1.0,1,1,11,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96212,35000.0,21.49,956.55,72000.0,16.63,675.0,0.0,0.0,1,0,1,0,0,0,0,0,1
96213,15650.0,26.49,473.12,58000.0,27.81,685.0,1.0,1.0,1,2,11,0,1,0,0,0,0
96214,27450.0,21.49,1041.10,80000.0,15.17,705.0,1.0,0.0,0,0,7,0,1,0,0,0,0
96215,20000.0,21.49,546.60,75000.0,25.23,670.0,1.0,0.0,1,0,11,0,1,0,0,0,0
96216,5000.0,21.49,189.64,43000.0,1.40,670.0,1.0,0.0,0,0,3,0,0,0,0,0,1

In [48]:
numerical_df.to_csv('20%_Loans_12_feat_unscaled_verified.csv', index=False)

In [50]:
X = numerical_df.drop('loan_status_bin', axis=1)
y = numerical_df['loan_status_bin']

In [51]:
X

,loan_amnt,int_rate,installment,annual_inc,dti,fico_range_low,pub_rec,term,grade,emp_length,ANY,MORTGAGE,NONE,OTHER,OWN,RENT
0,10400.0,22.45,289.91,104433.0,25.37,695.0,0.0,1,2,4,0,1,0,0,0,0
1,35000.0,20.50,937.06,120000.0,35.69,700.0,0.0,1,1,9,0,1,0,0,0,0
2,25825.0,26.06,774.14,68000.0,31.68,675.0,0.0,1,2,7,0,0,0,0,0,1
3,24575.0,22.45,685.04,92000.0,24.16,725.0,0.0,1,2,11,0,1,0,0,0,0
4,16925.0,21.48,462.46,47000.0,22.09,680.0,1.0,1,1,11,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96212,35000.0,21.49,956.55,72000.0,16.63,675.0,0.0,1,0,1,0,0,0,0,0,1
96213,15650.0,26.49,473.12,58000.0,27.81,685.0,1.0,1,2,11,0,1,0,0,0,0
96214,27450.0,21.49,1041.10,80000.0,15.17,705.0,0.0,0,0,7,0,1,0,0,0,0
96215,20000.0,21.49,546.60,75000.0,25.23,670.0,0.0,1,0,11,0,1,0,0,0,0
96216,5000.0,21.49,189.64,43000.0,1.40,670.0,0.0,0,0,3,0,0,0,0,0,1

In [52]:
y

0        1.0
1        1.0
2        0.0
3        1.0
4        0.0
        ...
96212    0.0
96213    1.0
96214    1.0
96215    1.0
96216    1.0
Name: loan_status_bin, Length: 96217, dtype: float64

In [53]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_scaled = sc.fit_transform(X)

In [54]:
X = pd.DataFrame(X_scaled, columns=X.columns)
X

,loan_amnt,int_rate,installment,annual_inc,dti,fico_range_low,pub_rec,term,grade,emp_length,ANY,MORTGAGE,NONE,OTHER,OWN,RENT
0,-0.878145,-0.413899,-0.990786,0.519783,0.374250,0.675057,-0.377827,0.693847,0.799133,-0.666132,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345
1,1.704364,-1.133315,1.219066,0.791081,1.229373,0.920280,-0.377827,0.693847,-0.457283,0.605806,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345
2,0.741172,0.917942,0.662736,-0.115162,0.897101,-0.305835,-0.377827,0.693847,0.799133,0.097031,-0.016121,-0.926288,-0.007897,-0.007897,-0.35599,1.162325
3,0.609947,-0.413899,0.358482,0.303104,0.273989,2.146396,-0.377827,0.693847,0.799133,1.114582,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345
4,-0.193150,-0.771763,-0.401572,-0.481144,0.102467,-0.060612,1.178730,0.693847,-0.457283,1.114582,-0.016121,-0.926288,-0.007897,-0.007897,-0.35599,1.162325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96212,1.704364,-0.768073,1.285619,-0.045451,-0.349952,-0.305835,-0.377827,0.693847,-1.713700,-1.429296,-0.016121,-0.926288,-0.007897,-0.007897,-0.35599,1.162325
96213,-0.327000,1.076583,-0.365171,-0.289439,0.576430,0.184611,1.178730,0.693847,0.799133,1.114582,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345
96214,0.911765,-0.768073,1.574336,0.093971,-0.470929,1.165503,-0.377827,-1.441240,-1.713700,0.097031,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345
96215,0.129664,-0.768073,-0.114255,0.006833,0.362650,-0.551058,-0.377827,0.693847,-1.713700,1.114582,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345
96216,-1.445037,-0.768073,-1.333182,-0.550855,-1.611921,-0.551058,-0.377827,-1.441240,-1.713700,-0.920520,-0.016121,-0.926288,-0.007897,-0.007897,-0.35599,1.162325

In [55]:
scaled = pd.concat([X,y], axis=1)
scaled

,loan_amnt,int_rate,installment,annual_inc,dti,fico_range_low,pub_rec,term,grade,emp_length,ANY,MORTGAGE,NONE,OTHER,OWN,RENT,loan_status_bin
0,-0.878145,-0.413899,-0.990786,0.519783,0.374250,0.675057,-0.377827,0.693847,0.799133,-0.666132,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345,1.0
1,1.704364,-1.133315,1.219066,0.791081,1.229373,0.920280,-0.377827,0.693847,-0.457283,0.605806,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345,1.0
2,0.741172,0.917942,0.662736,-0.115162,0.897101,-0.305835,-0.377827,0.693847,0.799133,0.097031,-0.016121,-0.926288,-0.007897,-0.007897,-0.35599,1.162325,0.0
3,0.609947,-0.413899,0.358482,0.303104,0.273989,2.146396,-0.377827,0.693847,0.799133,1.114582,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345,1.0
4,-0.193150,-0.771763,-0.401572,-0.481144,0.102467,-0.060612,1.178730,0.693847,-0.457283,1.114582,-0.016121,-0.926288,-0.007897,-0.007897,-0.35599,1.162325,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96212,1.704364,-0.768073,1.285619,-0.045451,-0.349952,-0.305835,-0.377827,0.693847,-1.713700,-1.429296,-0.016121,-0.926288,-0.007897,-0.007897,-0.35599,1.162325,0.0
96213,-0.327000,1.076583,-0.365171,-0.289439,0.576430,0.184611,1.178730,0.693847,0.799133,1.114582,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345,1.0
96214,0.911765,-0.768073,1.574336,0.093971,-0.470929,1.165503,-0.377827,-1.441240,-1.713700,0.097031,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345,1.0
96215,0.129664,-0.768073,-0.114255,0.006833,0.362650,-0.551058,-0.377827,0.693847,-1.713700,1.114582,-0.016121,1.079578,-0.007897,-0.007897,-0.35599,-0.860345,1.0
96216,-1.445037,-0.768073,-1.333182,-0.550855,-1.611921,-0.551058,-0.377827,-1.441240,-1.713700,-0.920520,-0.016121,-0.926288,-0.007897,-0.007897,-0.35599,1.162325,1.0

In [56]:
scaled.to_csv('20%_Loans_12_feat_scaled_verified.csv', index=False)