In [3]:
import pandas as pd

In [4]:
rejected_full = pd.read_csv('Rejected_4_No_Null.csv')

In [5]:
rejected_full.shape

(27648741, 5)

In [6]:
rejected_full.isnull().sum()                 #No Null Values

Risk_Score           0
DI                   0
Loan Type            0
Employment Length    0
Accepted             0
dtype: int64

In [7]:
rejected_full.dtypes

Risk_Score            object
DI                   float64
Loan Type             object
Employment Length     object
Accepted               int64
dtype: object

In [20]:
rejected_full.head(2)

,Risk_Score,DI,Loan Type,Employment Length,Accepted
0,693.0,0.1,Wedding Covered but No Honeymoon,4 years,0
1,703.0,0.1,Consolidating Debt,< 1 year,0

In [8]:
accepted_full = pd.read_csv('Accepted_4_No_Null.csv')

In [21]:
accepted_full.head(2)

  Risk_Score        DI           Loan Type Employment Length  Accepted
0      677.0  0.065455  Debt Consolidation         10+ years         1
1      717.0  0.380000       Business Loan         10+ years         1

In [9]:
accepted_full.shape

(2260664, 5)

In [10]:
accepted_full.isnull().sum()                 #No Null Values

Risk_Score           0
DI                   0
Loan Type            0
Employment Length    0
Accepted             0
dtype: int64

In [11]:
accepted_full.dtypes

Risk_Score           float64
DI                   float64
Loan Type             object
Employment Length     object
Accepted               int64
dtype: object

In [12]:
accepted_full['Risk_Score'] = accepted_full['Risk_Score'].astype(str)

In [13]:
accepted_full.dtypes

Risk_Score            object
DI                   float64
Loan Type             object
Employment Length     object
Accepted               int64
dtype: object

In [14]:
combo = pd.concat([accepted_full, rejected_full], axis=0, ignore_index=True)

In [15]:
combo.shape

(29909405, 5)

In [16]:
combo

,Risk_Score,DI,Loan Type,Employment Length,Accepted
0,677.0,0.065455,Debt Consolidation,10+ years,1
1,717.0,0.380000,Business Loan,10+ years,1
2,697.0,0.317460,Home Improvement,10+ years,1
3,787.0,0.318182,Debt Consolidation,10+ years,1
4,697.0,0.099585,Major Purchase,3 years,1
...,...,...,...,...,...
29909400,590.0,0.412600,Debt Consolidation,< 1 year,0
29909401,None,0.014800,Moving And Relocation,5 years,0
29909402,686.0,0.102600,Other,< 1 year,0
29909403,None,0.177100,Debt Consolidation,< 1 year,0
29909404,684.0,0.105800,Business Loan,< 1 year,0

In [17]:
combo.dtypes

Risk_Score            object
DI                   float64
Loan Type             object
Employment Length     object
Accepted               int64
dtype: object

In [18]:
combo.to_csv('Combo_4_Full.csv', index=False)