In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('../../../Data/grade_feat_scaled.csv')

In [5]:
data.head(5)

      grade  loan_status_bin
0  0.196276              0.0
1  0.196276              0.0
2 -0.575883              0.0
3  2.512753              0.0
4  0.196276              0.0

In [6]:
from pycaret.classification import *

In [7]:
experiment = setup(data = data, target = 'loan_status_bin')

In [8]:
best_model = compare_models()