In [1]:
import pandas as pd
import seaborn as sns
sns.set()
#import missingno as msnum

In [2]:
pd.set_option("display.max_columns", 200)
pd.set_option("display.max_row", 160)
pd.set_option('max_colwidth', 200)

In [4]:
rejected = pd.read_csv('../../Data/rejected.csv')

In [5]:
rejected.shape

(27648741, 9)

In [14]:
rejected.isnull().sum()

Amount Requested               0
Application Date               0
Loan Title                  1303
Risk_Score              18497630
Debt-To-Income Ratio           0
Zip Code                     293
State                         22
Employment Length         951355
Policy Code                  918
dtype: int64

In [7]:
rejected.head(2)

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0

In [ ]:
# 1. Date should not have impact on application outcome? Not 100% sure, but fair assumption. (Drop)
# 2. Policy Code is determined after review of application. Not a pre-known feature. (Drop)
# 3. Zip Code & State (Geographic Factors) also don't play a role in application outcome. (Drop x 2)
# 4. Application Amount vs Debt To Income.....DTI is more important, but isn't there a 40k ceiling? 
# 5. Risk Score is Crucial. DTI, Amount Requested, Employment Length, Loan Title. (Keep 5, Drop 4)??

In [11]:
drop = rejected[['Application Date', 'Zip Code', 'State', 'Policy Code']]
drop

         Application Date Zip Code State  Policy Code
0              2007-05-26    481xx    NM          0.0
1              2007-05-26    010xx    MA          0.0
2              2007-05-27    212xx    MD          0.0
3              2007-05-27    017xx    MA          0.0
4              2007-05-27    209xx    MD          0.0
...                   ...      ...   ...          ...
27648736       2016-12-31    441xx    OH          0.0
27648737       2016-12-31    207xx    MD          0.0
27648738       2016-12-31    914xx    CA          0.0
27648739       2016-12-31    880xx    NM          0.0
27648740       2016-12-31    113xx    NY          0.0

[27648741 rows x 4 columns]

In [12]:
keep = rejected[['Amount Requested', 'Loan Title', 'Risk_Score', 'Debt-To-Income Ratio', 'Employment Length']]
keep

,Amount Requested,Loan Title,Risk_Score,Debt-To-Income Ratio,Employment Length
0,1000.0,Wedding Covered but No Honeymoon,693.0,10%,4 years
1,1000.0,Consolidating Debt,703.0,10%,< 1 year
2,11000.0,Want to consolidate my debt,715.0,10%,1 year
3,6000.0,waksman,698.0,38.64%,< 1 year
4,1500.0,mdrigo,509.0,9.43%,< 1 year
...,...,...,...,...,...
27648736,10000.0,Debt consolidation,590.0,41.26%,< 1 year
27648737,10000.0,moving,NaN,1.48%,5 years
27648738,1200.0,Other,686.0,10.26%,< 1 year
27648739,25000.0,debt_consolidation,NaN,17.71%,< 1 year
27648740,15000.0,Business,684.0,10.58%,< 1 year

In [13]:
keep.isnull().sum()

Amount Requested               0
Loan Title                  1303
Risk_Score              18497630
Debt-To-Income Ratio           0
Employment Length         951355
dtype: int64

In [16]:
drop.isnull().sum()

Application Date      0
Zip Code            293
State                22
Policy Code         918
dtype: int64