In [1]:
import pandas as pd

In [2]:
rejected_drop = pd.read_csv('Rejected_DropNAs.csv')

In [3]:
rejected_drop.shape

(8992195, 5)

In [4]:
rejected_drop.isnull().sum()                 #No Null Values

Risk_Score           0
DI                   0
Loan Type            0
Employment Length    0
Accepted             0
dtype: int64

In [5]:
rejected_drop.dtypes

Risk_Score           float64
DI                   float64
Loan Type             object
Employment Length     object
Accepted               int64
dtype: object

In [6]:
accepted_drop = pd.read_csv('Accepted_DropNAs.csv')

In [7]:
accepted_drop.shape

(2113757, 5)

In [8]:
accepted_drop.isnull().sum()                 #No Null Values

Risk_Score           0
DI                   0
Loan Type            0
Employment Length    0
Accepted             0
dtype: int64

In [9]:
accepted_drop.dtypes

Risk_Score           float64
DI                   float64
Loan Type             object
Employment Length     object
Accepted               int64
dtype: object

In [11]:
combo = pd.concat([accepted_drop, rejected_drop], axis=0, ignore_index=True)

In [12]:
combo.shape

(11105952, 5)

In [13]:
combo

          Risk_Score        DI           Loan Type Employment Length  Accepted
0              677.0  0.065455  Debt Consolidation         10+ years         1
1              717.0  0.380000       Business Loan         10+ years         1
2              697.0  0.317460    Home Improvement         10+ years         1
3              787.0  0.318182  Debt Consolidation         10+ years         1
4              697.0  0.099585      Major Purchase           3 years         1
...              ...       ...                 ...               ...       ...
11105947       681.0  0.551500  Debt Consolidation          < 1 year         0
11105948       531.0  0.313100  Debt Consolidation          < 1 year         0
11105949       590.0  0.412600  Debt Consolidation          < 1 year         0
11105950       686.0  0.102600               Other          < 1 year         0
11105951       684.0  0.105800       Business Loan          < 1 year         0

[11105952 rows x 5 columns]

In [14]:
combo.dtypes

Risk_Score           float64
DI                   float64
Loan Type             object
Employment Length     object
Accepted               int64
dtype: object

In [15]:
combo.to_csv('Combo_4_DropNAs.csv', index=False)