In [1]:
import pandas as pd
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
#import missingno as msnum

In [2]:
pd.set_option("display.max_columns", 200)
pd.set_option("display.max_row", 160)
pd.set_option('max_colwidth', 200)

In [4]:
rejected = pd.read_csv('rejected.csv')
rejected.shape

(27648741, 9)

In [5]:
rejected.head(2)

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0

In [6]:
rejected.dtypes

Amount Requested        float64
Application Date         object
Loan Title               object
Risk_Score              float64
Debt-To-Income Ratio     object
Zip Code                 object
State                    object
Employment Length        object
Policy Code             float64
dtype: object

In [7]:
rejected.isnull().sum()

Amount Requested               0
Application Date               0
Loan Title                  1303
Risk_Score              18497630
Debt-To-Income Ratio           0
Zip Code                     293
State                         22
Employment Length         951355
Policy Code                  918
dtype: int64

In [12]:
# 1. Replace Risk_Score NaN's with 'None'. Eliminates NaN's + Converts Data Type to "Object" (Categorical)

In [8]:
rejected['Risk_Score'] = rejected['Risk_Score'].replace({np.nan:'None'})

In [9]:
rejected.shape

(27648741, 9)

In [11]:
rejected.isnull().sum()

Amount Requested             0
Application Date             0
Loan Title                1303
Risk_Score                   0
Debt-To-Income Ratio         0
Zip Code                   293
State                       22
Employment Length       951355
Policy Code                918
dtype: int64

In [13]:
rejected.dtypes

Amount Requested        float64
Application Date         object
Loan Title               object
Risk_Score               object
Debt-To-Income Ratio     object
Zip Code                 object
State                    object
Employment Length        object
Policy Code             float64
dtype: object

In [17]:
# 2. Replace Employment Length NaN's with 'None'. Eliminates NaN's + Adds additional category to "Object" DataType.

In [16]:
rejected['Employment Length'].value_counts(dropna=False)

< 1 year     22994315
5 years       2279466
NaN            951355
10+ years      416384
1 year         267840
2 years        199204
3 years        177344
4 years        121623
6 years         71625
8 years         65965
7 years         55666
9 years         47954
Name: Employment Length, dtype: int64

In [18]:
rejected['Employment Length'] = rejected['Employment Length'].replace({np.nan:'None'})

In [19]:
rejected.shape

(27648741, 9)

In [20]:
rejected.isnull().sum()

Amount Requested           0
Application Date           0
Loan Title              1303
Risk_Score                 0
Debt-To-Income Ratio       0
Zip Code                 293
State                     22
Employment Length          0
Policy Code              918
dtype: int64

In [21]:
rejected['Employment Length'].value_counts()

< 1 year     22994315
5 years       2279466
None           951355
10+ years      416384
1 year         267840
2 years        199204
3 years        177344
4 years        121623
6 years         71625
8 years         65965
7 years         55666
9 years         47954
Name: Employment Length, dtype: int64