In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
sns.set()
import matplotlib.pyplot as plt
#import missingno as msnum

In [2]:
pd.set_option("display.max_columns", 200)
pd.set_option("display.max_row", 160)
pd.set_option('max_colwidth', 200)

In [3]:
accepted = pd.read_csv('accepted.csv')
accepted.shape

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(2260701, 151)

In [4]:
accepted.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68407277,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.0,0.0,4421.723917,4421.72,3600.0,821.72,0.0,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68355089,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.0,0.0,25679.660000,25679.66,24700.0,979.66,0.0,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# 1. Are any "Funded Amounts" that are Null? If so, let's remove them.

In [6]:
accepted[accepted.funded_amnt.isnull()].shape

(33, 151)

In [7]:
drop = accepted[accepted.funded_amnt.isnull()].index

In [8]:
accepted.drop(drop, axis=0, inplace=True)

In [9]:
accepted.shape

(2260668, 151)

In [10]:
accepted[accepted.funded_amnt.isnull()].shape

(0, 151)

In [11]:
# 2. Obtain relevant features to match Rejected Dataframe

In [12]:
a = accepted[['purpose', 'fico_range_low', 'fico_range_high', 'loan_amnt', 'annual_inc', 'emp_length']]

In [13]:
a.dtypes

purpose             object
fico_range_low     float64
fico_range_high    float64
loan_amnt          float64
annual_inc         float64
emp_length          object
dtype: object

In [14]:
a.isnull().sum()

purpose                 0
fico_range_low          0
fico_range_high         0
loan_amnt               0
annual_inc              4
emp_length         146907
dtype: int64

In [15]:
a.shape

(2260668, 6)

In [16]:
# 3. Address Employment Length First. NaN's to None. Data Type not affected (Object)

In [17]:
a = a.rename(columns={"emp_length":"Employment Length"})
a['Employment Length'] = a['Employment Length'].replace(np.nan, 'None')

In [18]:
a.dtypes

purpose               object
fico_range_low       float64
fico_range_high      float64
loan_amnt            float64
annual_inc           float64
Employment Length     object
dtype: object

In [19]:
a.isnull().sum()

purpose              0
fico_range_low       0
fico_range_high      0
loan_amnt            0
annual_inc           4
Employment Length    0
dtype: int64

In [20]:
a.shape

(2260668, 6)

In [21]:
# 4. Create average Risk Score from FICO low and FICO high

In [22]:
a = a.assign(FICO = (a['fico_range_low'] + a['fico_range_high'])/2)
a = a.rename(columns={"FICO":"Risk_Score"})

In [23]:
a.shape

(2260668, 7)

In [24]:
a.head(2)

,purpose,fico_range_low,fico_range_high,loan_amnt,annual_inc,Employment Length,Risk_Score
0,debt_consolidation,675.0,679.0,3600.0,55000.0,10+ years,677.0
1,small_business,715.0,719.0,24700.0,65000.0,10+ years,717.0

In [25]:
a.isnull().sum()

purpose              0
fico_range_low       0
fico_range_high      0
loan_amnt            0
annual_inc           4
Employment Length    0
Risk_Score           0
dtype: int64

In [26]:
a.dtypes

purpose               object
fico_range_low       float64
fico_range_high      float64
loan_amnt            float64
annual_inc           float64
Employment Length     object
Risk_Score           float64
dtype: object

In [27]:
# 5a. Annual Income - Which observations are Null?

In [28]:
a[a.annual_inc.isnull()]

,purpose,fico_range_low,fico_range_high,loan_amnt,annual_inc,Employment Length,Risk_Score
1654329,other,800.0,804.0,5000.0,NaN,< 1 year,802.0
1654330,other,800.0,804.0,7000.0,NaN,< 1 year,802.0
1654360,other,800.0,804.0,6700.0,NaN,< 1 year,802.0
1654413,other,740.0,744.0,6500.0,NaN,< 1 year,742.0

In [29]:
# They all have extremely high FICO Scores.

In [30]:
# 5b. Annual Income - Which observations have zero income?

In [31]:
a[a.annual_inc == 0]

,purpose,fico_range_low,fico_range_high,loan_amnt,annual_inc,Employment Length,Risk_Score
18202,debt_consolidation,685.0,689.0,20000.0,0.0,None,687.0
65620,credit_card,680.0,684.0,3700.0,0.0,None,682.0
421705,home_improvement,695.0,699.0,40000.0,0.0,None,697.0
422321,debt_consolidation,755.0,759.0,40000.0,0.0,None,757.0
422379,other,790.0,794.0,3000.0,0.0,2 years,792.0
...,...,...,...,...,...,...,...
2228436,debt_consolidation,715.0,719.0,8750.0,0.0,None,717.0
2228456,debt_consolidation,680.0,684.0,18000.0,0.0,< 1 year,682.0
2230378,credit_card,705.0,709.0,10000.0,0.0,None,707.0
2232830,debt_consolidation,670.0,674.0,23950.0,0.0,None,672.0
2258293,debt_consolidation,660.0,664.0,20000.0,0.0,None,662.0

In [32]:
# 5c. What happens if we create DI ratio with values as is?

In [33]:
a = a.assign(DI = (a['loan_amnt'] / a['annual_inc']))

In [34]:
a.dtypes

purpose               object
fico_range_low       float64
fico_range_high      float64
loan_amnt            float64
annual_inc           float64
Employment Length     object
Risk_Score           float64
DI                   float64
dtype: object

In [35]:
a.isnull().sum()

purpose              0
fico_range_low       0
fico_range_high      0
loan_amnt            0
annual_inc           4
Employment Length    0
Risk_Score           0
DI                   4
dtype: int64

In [36]:
a.DI.value_counts(dropna=False)

0.200000    49334
0.250000    34298
0.166667    27604
0.333333    26774
0.100000    25262
            ...
0.205612        1
0.013429        1
0.016000        1
0.232299        1
0.162618        1
Name: DI, Length: 232586, dtype: int64

In [37]:
a[a.annual_inc == 0]

,purpose,fico_range_low,fico_range_high,loan_amnt,annual_inc,Employment Length,Risk_Score,DI
18202,debt_consolidation,685.0,689.0,20000.0,0.0,None,687.0,inf
65620,credit_card,680.0,684.0,3700.0,0.0,None,682.0,inf
421705,home_improvement,695.0,699.0,40000.0,0.0,None,697.0,inf
422321,debt_consolidation,755.0,759.0,40000.0,0.0,None,757.0,inf
422379,other,790.0,794.0,3000.0,0.0,2 years,792.0,inf
...,...,...,...,...,...,...,...,...
2228436,debt_consolidation,715.0,719.0,8750.0,0.0,None,717.0,inf
2228456,debt_consolidation,680.0,684.0,18000.0,0.0,< 1 year,682.0,inf
2230378,credit_card,705.0,709.0,10000.0,0.0,None,707.0,inf
2232830,debt_consolidation,670.0,674.0,23950.0,0.0,None,672.0,inf
2258293,debt_consolidation,660.0,664.0,20000.0,0.0,None,662.0,inf

In [38]:
a.dtypes

purpose               object
fico_range_low       float64
fico_range_high      float64
loan_amnt            float64
annual_inc           float64
Employment Length     object
Risk_Score           float64
DI                   float64
dtype: object

In [39]:
a.head(2)

,purpose,fico_range_low,fico_range_high,loan_amnt,annual_inc,Employment Length,Risk_Score,DI
0,debt_consolidation,675.0,679.0,3600.0,55000.0,10+ years,677.0,0.065455
1,small_business,715.0,719.0,24700.0,65000.0,10+ years,717.0,0.380000

In [40]:
a.shape

(2260668, 8)

In [41]:
#6. Let's group purpose/loan type

In [42]:
a['purpose'].value_counts()

debt_consolidation    1277877
credit_card            516971
home_improvement       150457
other                  139440
major_purchase          50445
medical                 27488
small_business          24689
car                     24013
vacation                15525
moving                  15403
house                   14136
wedding                  2355
renewable_energy         1445
educational               424
Name: purpose, dtype: int64

In [43]:
a['purpose'] = a['purpose'].replace({'debt_consolidation':'Debt Consolidation',
                                                   'credit_card':'Credit Card Refinancing',
                                                   'home_improvement':'Home Improvement',
                                                   'other':'Other',
                                                   'major_purchase':'Major Purchase',
                                                   'medical':'Medical Expenses',
                                                   'small_business':'Business Loan',
                                                   'car':'Car Financing',
                                                   'vacation':'Vacation',
                                                   'moving':'Moving And Relocation',
                                                   'house':'Home Purchase',
                                                   'wedding':'Wedding',
                                                   'renewable_energy':'Green Loan',
                                                   'educational':'Student Loan'})

In [44]:
a['purpose'].value_counts(dropna=False)

Debt Consolidation         1277877
Credit Card Refinancing     516971
Home Improvement            150457
Other                       139440
Major Purchase               50445
Medical Expenses             27488
Business Loan                24689
Car Financing                24013
Vacation                     15525
Moving And Relocation        15403
Home Purchase                14136
Wedding                       2355
Green Loan                    1445
Student Loan                   424
Name: purpose, dtype: int64

In [45]:
a = a.rename(columns={'purpose':"Loan Type"})

In [46]:
a['Loan Type'].value_counts(dropna=False).sum()

2260668

In [47]:
a.head(2)

,Loan Type,fico_range_low,fico_range_high,loan_amnt,annual_inc,Employment Length,Risk_Score,DI
0,Debt Consolidation,675.0,679.0,3600.0,55000.0,10+ years,677.0,0.065455
1,Business Loan,715.0,719.0,24700.0,65000.0,10+ years,717.0,0.380000

In [48]:
# 7. Assign "Label = 1" for Accepted Loans

In [49]:
a = a.assign(Accepted = 1)
a

,Loan Type,fico_range_low,fico_range_high,loan_amnt,annual_inc,Employment Length,Risk_Score,DI,Accepted
0,Debt Consolidation,675.0,679.0,3600.0,55000.0,10+ years,677.0,0.065455,1
1,Business Loan,715.0,719.0,24700.0,65000.0,10+ years,717.0,0.380000,1
2,Home Improvement,695.0,699.0,20000.0,63000.0,10+ years,697.0,0.317460,1
3,Debt Consolidation,785.0,789.0,35000.0,110000.0,10+ years,787.0,0.318182,1
4,Major Purchase,695.0,699.0,10400.0,104433.0,3 years,697.0,0.099585,1
...,...,...,...,...,...,...,...,...,...
2260694,Home Improvement,665.0,669.0,24000.0,95000.0,7 years,667.0,0.252632,1
2260695,Debt Consolidation,695.0,699.0,24000.0,108000.0,10+ years,697.0,0.222222,1
2260696,Debt Consolidation,705.0,709.0,40000.0,227000.0,9 years,707.0,0.176211,1
2260697,Debt Consolidation,660.0,664.0,24000.0,110000.0,6 years,662.0,0.218182,1
2260698,Debt Consolidation,660.0,664.0,14000.0,95000.0,10+ years,662.0,0.147368,1

In [50]:
# 8. Select Columns to match order and type of Rejected Loans

In [52]:
a = a[['Risk_Score', 'DI', 'Loan Type', 'Employment Length', 'Accepted']]
a

         Risk_Score        DI           Loan Type Employment Length  Accepted
0             677.0  0.065455  Debt Consolidation         10+ years         1
1             717.0  0.380000       Business Loan         10+ years         1
2             697.0  0.317460    Home Improvement         10+ years         1
3             787.0  0.318182  Debt Consolidation         10+ years         1
4             697.0  0.099585      Major Purchase           3 years         1
...             ...       ...                 ...               ...       ...
2260694       667.0  0.252632    Home Improvement           7 years         1
2260695       697.0  0.222222  Debt Consolidation         10+ years         1
2260696       707.0  0.176211  Debt Consolidation           9 years         1
2260697       662.0  0.218182  Debt Consolidation           6 years         1
2260698       662.0  0.147368  Debt Consolidation         10+ years         1

[2260668 rows x 5 columns]

In [53]:
a.dtypes

Risk_Score           float64
DI                   float64
Loan Type             object
Employment Length     object
Accepted               int64
dtype: object

In [54]:
a.isnull().sum()

Risk_Score           0
DI                   4
Loan Type            0
Employment Length    0
Accepted             0
dtype: int64

In [ ]:
# 9. Drop the 4 DIs which are Null (this is due to income being Null, High Risk Score)

In [56]:
a = a.dropna()

In [57]:
a.head(2)

   Risk_Score        DI           Loan Type Employment Length  Accepted
0       677.0  0.065455  Debt Consolidation         10+ years         1
1       717.0  0.380000       Business Loan         10+ years         1

In [58]:
a.isnull().sum() #No more Null's

Risk_Score           0
DI                   0
Loan Type            0
Employment Length    0
Accepted             0
dtype: int64

In [60]:
a.shape #Dropped 33 + 4 observations. Can mean impute last 4 if necessary.

(2260664, 5)

In [61]:
a.to_csv('Accepted_No_Null.csv', index=False)