In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
sns.set()
import matplotlib.pyplot as plt
#import missingno as msnum

In [2]:
pd.set_option("display.max_columns", 200)
pd.set_option("display.max_row", 160)
pd.set_option('max_colwidth', 200)

In [3]:
rejected = pd.read_csv('rejected.csv')
rejected.shape

(27648741, 9)

In [4]:
rejected.head(2)

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0

In [5]:
rejected.isnull().sum()

Amount Requested               0
Application Date               0
Loan Title                  1303
Risk_Score              18497630
Debt-To-Income Ratio           0
Zip Code                     293
State                         22
Employment Length         951355
Policy Code                  918
dtype: int64

In [6]:
r = rejected.dropna()
r.shape

(8992195, 9)

In [7]:
r = r[['Risk_Score', 'Debt-To-Income Ratio', 'Loan Title', 'Employment Length']]
r.shape

(8992195, 4)

In [8]:
r = r.rename(columns={"Debt-To-Income Ratio":"DI"})

In [9]:
r['DI'] = r['DI'].str.rstrip("%").astype(float)/100

In [11]:
r.dtypes

Risk_Score           float64
DI                   float64
Loan Title            object
Employment Length     object
dtype: object

In [13]:
r.isnull().sum()

Risk_Score           0
DI                   0
Loan Title           0
Employment Length    0
dtype: int64

In [18]:
r['Loan Title'] = r['Loan Title'].replace({'debt_consolidation':'Debt consolidation',
                                                         'Debt consolidation':'Debt Consolidation',
                                                         'credit_card':'Credit card refinancing',
                                                         'Credit card refinancing':'Credit Card Refinancing',
                                                         'other':'Other',
                                                         'car':'Car financing',
                                                         'Car financing':'Car Financing',
                                                         'home_improvement':'Home improvement',
                                                         'Home improvement':'Home Improvement',
                                                         'major_purchase':'Major purchase',
                                                         'Major purchase':'Major Purchase',
                                                         'moving':'Moving',
                                                         'medical':'Medical expenses',
                                                         'Medical expenses':'Medical Expenses',
                                                         'Home buying':'Home Purchase',
                                                         'small_business':'Business Loan',
                                                         'Business':'Business Loan',
                                                         'Moving':'Moving And relocation',
                                                         'Moving and relocation': 'Moving And Relocation',
                                                         'house':'Home Purchase',
                                                         'vacation':'Vacation',
                                                         'Business Line Of Credit':'Business Loan',
                                                         'debt consolidation':'Debt Consolidation',
                                                         ' ':'Other',
                                                         'renewable_energy':'Green loan',
                                                         'Green loan':'Green Loan',
                                                         'Consolidation':'Debt Consolidation',
                                                         'Debt Consolidation Loan':'Debt Consolidation',
                                                         'personal':'Personal Loan',
                                                         'Personal':'Personal Loan',
                                                         'educational':'Education',
                                                         'wedding':'Wedding',
                                                         'personal loan':'Personal Loan',
                                                         'consolidation':'Debt Consolidation',
                                                         'Education':'Student Loan',
                                                         'Small Business Loan':'Business Loan',
                                                         'home improvement':'Home Improvement',
                                                         'Credit Card Consolidation':'Credit Card Refinancing',
                                                         'Loan':'Other',
                                                         'Consolidate':'Debt Consolidation',
                                                         'Consolidation Loan':'Debt Consolidation',
                                                         'Credit Card Refinance':'Credit Card Refinancing',
                                                         'student loan':'Student Loan',
                                                         'Debt':'Other',
                                                         'consolidate':'Debt Consolidation',
                                                         'Credit Card Loan':'Credit Card Refinancing',
                                                         'loan':'Other',
                                                         'Car Loan':'Car Financing',
                                                         'Credit Card Payoff':'Credit Card Refinancing',
                                                         'Personal loan':'Personal Loan',
                                                         'School':'Student Loan', 
                                                         'debt':'Other',
                                                         'business':'Business Loan',
                                                         'Home Improvement Loan':'Home Improvement', 
                                                         'School Loan':'Student Loan',
                                                         'credit card refinance':'Credit Card Refinancing',
                                                         'payoff':'Other',
                                                         'My Loan':'Personal Loan',
                                                         'my loan':'Personal Loan',
                                                         'Credit Card':'Credit Card Refinancing',
                                                         'credit card':'Credit Card Refinancing',
                                                         'credit cards':'Credit Card Refinancing',
                                                         'credit card payoff':'Credit Card Refinancing',
                                                         'DEBT CONSOLIDATION':'Debt Consolidation',
                                                         'Medical':'Medical Expenses',
                                                         'home':'Home Improvement',
                                                         'Credit Cards':'Credit Card Refinancing',
                                                         'school':'Student Loan',
                                                         'Credit Card Financing':'Credit Card Refinancing',
                                                         'credit card consolidation':'Credit Card Refinancing',
                                                         'consolidation loan':'Debt Consolidation',
                                                         'pay off credit cards':'Credit Card Refinancing',
                                                         'business loan': 'Business Loan', 
                                                         'Payoff':'Other',
                                                         'debt consolidation loan':'Debt Consolidation',
                                                         'Debt Consolidation ':'Debt Consolidation',
                                                         'bills':'Other',
                                                         'Home':'Home Improvement',
                                                         'Small Business':'Business Loan',
                                                         'Consolidate debt':'Debt Consolidation',
                                                         'Consolidate Debt':'Debt Consolidation',
                                                         'Refinance':'Other',
                                                         'Bills':'Other',
                                                         'freedom':'Freedom',
                                                         'school loan':'Student Loan',
                                                         'Wedding Loan':'Wedding',
                                                         'Debt Free':'Other',
                                                         'car loan':'Car Financing',
                                                         'Other Loan':'Other',
                                                         'Debt Loan':'Other',
                                                         'Debt consolidation loan':'Debt Consolidation',
                                                         'Education Loan':'Student Loan',
                                                         'education':'Student Loan',
                                                         'Major Purchase Loan':'Major Purchase',
                                                         'Credit card consolidation':'Credit Card Refinancing',
                                                         'Pay off credit cards':'Credit Card Refinancing',
                                                         'Car':'Car Financing',
                                                         'Auto Loan':'Car Financing',
                                                         'Credit Card Debt':'Credit Card Refinancing',
                                                         'major purchase':'Major Purchase',
                                                         'Motorcycle':'Motorcycle Loan',
                                                         'Debt consolidation':'Debt Consolidation',
                                                         'consolidate debt':'Debt Consolidation',
                                                         'Student Loan ':'Student Loan',
                                                         'Student loan':'Student Loan',
                                                         'My loan':'Personal Loan',
                                                         'Debt consolidation ':'Debt Consolidation',
                                                         'Moving And relocation':'Moving And Relocation', 
                                                         'Credit Consolidation':'Debt Consolidation',
                                                         'Credit card payoff':'Credit Card Refinancing'})

In [19]:
r['Loan Title'].value_counts(dropna=False).nlargest(20)

Debt Consolidation         4159406
Other                      1392389
Credit Card Refinancing    1126216
Car Financing               466329
Home Improvement            407351
Medical Expenses            274274
Major Purchase              258233
Moving And Relocation       253795
Business Loan               233879
Home Purchase               169945
Vacation                    100714
Green Loan                   23707
Wedding                      17965
Personal Loan                 5206
Student Loan                  4498
Freedom                        411
Motorcycle Loan                262
debt free                      117
debt loan                      115
Credit card refinance          115
Name: Loan Title, dtype: int64

In [20]:
r = r.rename(columns={'Loan Title':'Loan Type'})

In [21]:
r = r.assign(Accepted = 0)
r

,Risk_Score,DI,Loan Type,Employment Length,Accepted
0,693.0,0.1000,Wedding Covered but No Honeymoon,4 years,0
1,703.0,0.1000,Consolidating Debt,< 1 year,0
2,715.0,0.1000,Want to consolidate my debt,1 year,0
3,698.0,0.3864,waksman,< 1 year,0
4,509.0,0.0943,mdrigo,< 1 year,0
...,...,...,...,...,...
27648733,681.0,0.5515,Debt Consolidation,< 1 year,0
27648734,531.0,0.3131,Debt Consolidation,< 1 year,0
27648736,590.0,0.4126,Debt Consolidation,< 1 year,0
27648738,686.0,0.1026,Other,< 1 year,0
27648740,684.0,0.1058,Business Loan,< 1 year,0

In [22]:
r.dtypes

Risk_Score           float64
DI                   float64
Loan Type             object
Employment Length     object
Accepted               int64
dtype: object

In [23]:
r.isnull().sum()

Risk_Score           0
DI                   0
Loan Type            0
Employment Length    0
Accepted             0
dtype: int64

In [24]:
r.shape

(8992195, 5)

In [25]:
r.to_csv('Rejected_DropNAs.csv', index=False)